---js
/* const eleventyNavigation = {
	key: "Home",
	order: 1
}; */
---
<img class="avatar" src="/kylie-logo-bg.png" alt="kylie's avatar"/>
<h1>Hi! I'm Kylie.</h1>
<p>I'm a Full Stack Developer specialising in Frontend Development, with experience mentoring
developers, driving technical improvements, contributing to design systems, and embedding web
accessibility best practices. In my day-to-day work, I collaborate closely with stakeholders across
engineering, design, and business to ensure decisions are both technically sound and user-centred.
Beyond the code, I care about sharing knowledge and creating space for open discussions with others.</p>

<h2>External articles</h2>
<ul>
	<li>
		<a href="https://www.thoughtworks.com/content/dam/thoughtworks/documents/e-book/tw_ebook_accessibility_handbook_v4.pdf">
			A practitioner's accessibility handbook (PDF)</a>, co-author
	</li>
	<li>
		<a href="https://www.thoughtworks.com/insights/blog/careers-at-thoughtworks/five-ways-i-grew-my-career-as-a-quiet-person">
			Five ways I grew my career as a quiet person
		</a>
	</li>
</ul>

<h2>Presentations</h2>
<ul>
	<li>
		Testing Web Accessibility in React ( <a href="https://github.com/kksy/testing-a11y-react">resources</a> ), at <a href="https://www.meetup.com/hamburg-react-js-meetup/events/295826630/">Hamburg React.js Meetup</a>
	</li>
</ul>

<h2>Follow me on</h2>
<ul class="socialmedia">
	<li>
		<a href="https://www.linkedin.com/in/kyliesy/">
			<i class="fab fa-linkedin" aria-hidden="true"></i>
			<span class="visually-hidden">My Linkedin page</span>
		</a>
	</li>
	<li>
			<a href="https://github.com/kksy">
			<i class="fab fa-github-square" aria-hidden="true"></i>
			<span class="visually-hidden">My Github page</span>
		</a>
	</li>
	<li>
			<a href="https://www.youtube.com/channel/UCtlfvm5Akd6mt6_hVhReYcw">
			<i class="fab fa-youtube" ></i>
		</a>
	</li>
</ul>
